/* ------------------------------------------------NAVBAR---------------------------------------------- */
#navbar {
  background-color: rgb(23, 73, 222);
  padding: 10px 20px;
}
.navbar-brand{
    font-size: 22px;
}

.nav-link {
  font-size: 22px;
  color: white !important;
  display: inline-block;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.nav-link:hover {
  transform: scale(1.1);
}
/* ----------------------------------------------------CaixaTitulo----------------------------------------------  */

header {
  margin-top: 18px;
  border-radius: 0 0 8px 8px; 
}

.titulo {
  background-color: rgb(48, 58, 145);
  color: white;
  padding: 40px 0;
  width: 100%;
}

/* ---------------------------------------------------------Formulário------------------------------------------------ */
.form-select{
   font-size: 22px;
}
#card {
  border-radius: 12px;
  background-color: var(--bs-secondary-bg);
}